/* General Configuration */
:root {
    --primary-color: rgb(28,64,76);
    --secondary-color: rgb(194,124,23);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

input[type=text] {
    padding: 0.2rem 0.5rem;
    margin: 0;
    border: none;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: white;

    padding: 1rem;
}

.links > * {
    margin: .5rem;
    font-size: small;
}

/* Hero section */
.hero {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem 1rem 4rem;
    background-color: var(--secondary-color);
    color: white;
}

.hero > h2 {
    padding-bottom: 1.5rem;
    text-align: center;
}

.hero > p {
    width: 60%;
    align-self: center;
    text-align: initial;
    
}

/* News Section */
.news {
    background-color: var(--primary-color);
    padding: 2rem 0.5rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news > * {
    padding: 0rem 1rem;
}

/* Languages Section */
.langs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    
}

.lang {
    margin: 2rem;
}

.lang > p {
    width: 200px;
}

img {
    width: 100px;
    height: auto;
}

/* Footer */
footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 1rem;
    color: white;
    font-size: small;
}